/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Navbar Styles */
.navbar {
    background-color: #007BFF;
    color: white;
    padding: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .left h1 {
    margin: 0;
}

.navbar .right {
    display: flex;
    align-items: center;
}

.navbar .right input[type="checkbox"] {
    display: none;
}

.navbar .right .checkBtn {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.navbar .right .list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar .right .list li {
    margin-left: 20px;
}

.navbar .right .list li a {
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar .right .list li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Services Section */
.services {
    padding: 50px 20px;
    text-align: center;
}

.service-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.service {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 20px;
    width: calc(33.333% - 40px);
    transition: transform 0.3s, box-shadow 0.3s;
}

.service:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.service i {
    color: #007BFF;
    margin-bottom: 15px;
}

.service h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: black;
}

.service p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
}
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content p {
    margin: 0;
    font-size: 0.9em;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 1.5em
}